.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 40%;
  }

  input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dartboard {
    position: absolute;
    top: 0%;
    right: 5%;
  }

  .score {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 2%;
    left: 40%;
  }