.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 8%;
  }

  input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dartboard {
    position: absolute;
    top: 0%;
    right: 15%;
  }

  .turn {
    position: absolute;
    top: 3%;
    left: 9%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    z-index: 1; /* Ensure turn div is above other elements */
}

.turn h2 {
    margin-right: 130px;
}

.transparent-textbox {
    position: absolute;
    top: 8%; 
    left: 5%;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
}

.score {
    position: absolute;
    top: 14%; 
    left: 5%;
    display: flex;
    align-items: center;
    text-align: center;
}

.score h1 {
    margin: 0;
    width: 130px;
    font-size: 48px;
    /* text-align: center; */
}

  .setupContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 1%;
    left: 7%;
  }

  .transparent-textbox textarea {
    background-color: transparent;
    border: none;
    resize: none;
    width: 125px;
    padding: 0px; 
    color: #000;
    font-size: 18px;
    outline: none;
    text-align: center;
}

  #name-textbox1,
  #name-textbox2, 
  #name-textbox3, 
  #name-textbox4 {
    background-color: transparent;
    border: none;
    resize: none;
    width: 125px; 
    height: 150px; 
    padding: 3px;
    color: #000;
    font-size: 18px;
    /* font-family: Arial, sans-serif; */
    outline: none;
    text-align: center;
  }

  #firstTextbox::placeholder {
    color: white; 
  }

  #secondTextbox::placeholder {
    color: white; 
  }

  #thirdTextbox::placeholder {
    color: white; 
  }

  #combinedTextbox::placeholder {
    color: white; 
  }
  
  .hidden {
    display: none;
  }

  .enterScore {
    position: absolute;
    top: 40%;
    left: 18%;
  }