.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 40%;
  }

  input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dartboard {
    position: absolute;
    top: 0%;
    right: 5%;
  }

  .score {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    text-align: center;
    top: 10%;
    left: 8%;
  }

  .setupContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 1%;
    left: 1%;
  }

  .transparent-textbox {
    position: absolute;
    top: 8%;
    left: 5%;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
  }
  
  #name-textbox1 {
    background-color: transparent;
    border: none;
    resize: none;
    width: 125px; 
    height: 150px; 
    padding: 3px;
    color: #000;
    font-size: 18px;
    /* font-family: Arial, sans-serif; */
    outline: none;
    text-align: center;
  }

  #name-textbox2 {
    background-color: transparent;
    border: none;
    resize: none;
    width: 125px; 
    height: 150px; 
    padding: 3px;
    color: #000;
    font-size: 18px;
    /* font-family: Arial, sans-serif; */
    outline: none;
    text-align: center;
  }

  #name-textbox3 {
    background-color: transparent;
    border: none;
    resize: none;
    width: 125px; 
    height: 150px; 
    padding: 3px;
    color: #000;
    font-size: 18px;
    /* font-family: Arial, sans-serif; */
    outline: none;
    text-align: center;
  }

  #name-textbox4 {
    background-color: transparent;
    border: none;
    resize: none;
    width: 125px; 
    height: 150px; 
    padding: 3px;
    color: #000;
    font-size: 18px;
    /* font-family: Arial, sans-serif; */
    outline: none;
    text-align: center;
  }
  
  .hidden {
    display: none;
  }